<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td class="py-[20px] bg-[#F0F5F5] w-full">
      <table class="bg-[#F0F5F5] w-full">
        <tr>
          <td class="pb-[35px] align-center-table w-full px-[20px]">
            <table class="align-center-table w-full">
              <tr>
                <td class="text-[#005555] text-[24px] leading-[28px] font-bold text-center pt-[17px]">
                  Sint cupidatat occaecat ut
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="pb-[24px] xs:pb-[17px] px-[20px] w-full">
            <table class="bg-[#ffffff] align-center-table w-full">
              <tr>
                <td class="w-full">
                  <table class="w-full align-center-table bg-[#ffffff]">
                    <tr>
                      <td class="align-center-table xs:block xs:w-full w-[48.2%] p-[25px]">
                        <table class="w-full align-center-table">
                          <tr>
                            <td class="text-center">
                              <x-image 
                                class="max-w-[100px] w-[100px] pointer-events-none" 
                                imgUrl="image-3.png" 
                                href="#" 
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center text-[#005555] text-[20px] font-bold leading-[23px] py-[15px]">
                              Nisi ut ade
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center text-[#444444] text-[16px] leading-[19px]">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam.
                              <span class="text-[#444444] text-[9px] [line-height:0] [vertical-align:5px]">1</span>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td class="xs:block xs:w-full w-[3.6%] h-[20px] xs:h-[35px] bg-[#F0F5F5]"></td>
                      <td class="p-[25px] xs:block xs:w-full w-[48.2%] align-center-table">
                        <table class="w-full align-center-table">
                          <tr>
                            <td class="text-center">
                              <x-image 
                                class="w-[100px] pointer-events-none max-w-[100px]" 
                                imgUrl="image-3.png" 
                                href="#" 
                              />
                            </td>
                          </tr>
                          <tr>
                            <td class="font-bold text-[#005555] text-[20px] text-center py-[15px] leading-[23px]">
                              Duis aute irure
                            </td>
                          </tr>
                          <tr>
                            <td class="text-[#444444] text-[16px] text-center leading-[19px]">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam.
                              <span class="text-[#444444] text-[9px] [line-height:0] [vertical-align:5px]">2</span>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
