<table class="w-full">
  <tr>
    <td class="pb-[45px] w-full">
      <table class="w-full">
        <tr>
          <td class="xs:px-[0px] w-full px-[20px]">
            <table class="align-center-table w-full">
              <tr>
                <td>
                  <x-image 
                    class="sm:w-full pointer-events-none w-[560px]" 
                    imgUrl="image-2.png" 
                    href="#" 
                    alt="img2" 
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="align-center-table xs:px-[20px] px-[50px] w-full">
            <table class="align-center-table w-full">
              <tr>
                <td class="text-center font-bold text-[24px] text-[#005555] pt-[30px] leading-[28px]">
                  Excepteur sint occaecat cupidatat
                </td>
              </tr>
              <tr>
                <td class="text-[#444444] text-[16px] text-center py-[20px] leading-[19px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="align-center-table w-full px-[20px]">
            <table class="align-center-table w-full">
              <tr>
                <td class="text-center">
                  <x-button
                    bgColor="#008080"
                    rounded="10"
                    width="350"
                    height="46"
                    padding="11px 20px"
                    leading="23"
                    href="#"
                    class="xs:w-full text-white font-bold text-[20px] leading-[23px]"
                  >
                    Ut enim ad minim veniam
                  </x-button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
